@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    /* font-weight: auto; */
    font-style: normal;
}

.noto-serif-fornt {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    /* font-weight: auto; */
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    max-width: 1440px;
    background-color: #F5F8FF;
    margin: 0 auto;
}

/* disply none section */
.hide-1 {
    display: none;
}



/* Navigation bar starts -1 */
.nav-small-device {
    margin: 16px;
}

.nav-1-subcontainer {
    padding: 25px 23px 18px;
}

.nav-container-1 p {
    padding: 18px 50px 14px;
}


.nav-container-1 {
    max-width: 100%;
    font-size: 22px;
    color: #000000;
    height: 54px;
    display: flex;
    justify-content: space-between;

}

/* navigation bar starts-2 */

.nav-container-2 {

    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 13px 16px 18px;

}

.nav-container-2 img {
    width: 63px;
    height: 38px;
}

.nav-container-2 a {
    text-decoration: none;
}




/* Navigation bar starts */
.nav-container {
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

}

.nav-subcontainer {
    display: flex;
    gap: 48px;
}

.nav-container img {
    width: 135px;
    height: 82px;
}

.nav-subcontainer a {
    text-decoration: none;
}

.nav-black {
    color: #252432;
    font-weight: bold;
    line-height: 24px 0px;
}

.nav-white {
    color: #8987A1;
    line-height: 24px 0px;
}

.nav-card {
    color: rgba(0, 0, 0, 1);
    line-height: 24px 0px;
}

/* banner section starts */
.banner-container {
    display: flex;
    max-width: 1140px;
    width: 100%;
    height: auto;
    justify-content: center;
    margin: 120px auto;
    align-items: end;

}

.banner-container img {
    width: 100%;
    height: 100%;
    display: block;
}

.banner-subcontainer {
    width: 50%;

}

.banner-tittle {
    font-size: 65px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 0px;
}

.banner-span,
.banner-orange {
    font-size: 65px;
    font-weight: bold;
    color: #E95A08;
    margin-top: 0px;
    margin-bottom: 13px;
}

.banner-subcontainer p {

    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 13px;
    margin-bottom: 0px;
}

/* main section starts */

.plan-container {
    text-align: center;
    margin: auto;
    margin-bottom: 49px;
}

.plan-tittle {
    font-size: 50px;
    font-weight: bold;
    color: #E95A08;
    margin-bottom: 16px;

}

.plan-tittle span {
    font-size: 50px;
    font-weight: bold;
    color: #000000;
}

.plan-text {
    max-width: 62%;
    margin: auto;
    margin-top: 16px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}

/* our plan container card starts */
.our-plan-container {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 210px;
}

.our-plan-container-card {
    width: 270px;
    height: auto;
}

.card-img {
    width: 100%;
    height: auto;
}

.card-little {
    font-weight: 500px;
    text-align: center;
    line-height: 150%;
    color: #111111;
    margin-top: 20px;
    margin-bottom: 15px;
}

.card-price {
    font-weight: bold;
    text-align: center;
    line-height: 150%;
    color: #111111;
    margin-bottom: 20px;
    margin-top: 15px;
}

.card-add-button {
    width: 100%;
    background-color: #E95A08;
    padding: 19px;
    text-align: center;
    font-weight: 600px;
    color: #ffffff;
    margin-bottom: 0px;
    border: none;
}

/* chalange flower lover section starts chalange part */

.lover-container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 100px;
}

.lover-image-1 {
    width: 100%;
    height: 100%;
}

.lover-image {
    position: relative;
}

.lover-image-2 {
    width: 286px;
    height: 286px;
    position: absolute;
    margin-top: -130px;
    margin-left: 345px;
    /* padding-left: 0px;
    padding-top: 0px;
    padding-right: 200px; */

}

.lover-section {
    display: flex;
    flex-direction: column;
    justify-items: auto;
    gap: 20px;
    max-width: 540px;
    margin: 38px 0px 38px 60px;
}

.lover-some h3 {
    margin: 0px;
    font-size: 50px;
    font-weight: bold;
    color: #000000;
}


.lover-subcontainer li {
    font-size: 22px;
    color: #8987A1;
    width: 100%;
    padding-bottom: 20px;
}

.lover-subcontainer {
    padding: 25px;
}

/* deals section starts */

.deals-head {
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 154px;
}

.deals-tittle {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color: #E95A08;
}

.deals-tittle span {
    font-size: 50px;
    font-weight: bold;
    color: #000000;
}

.deals-text {
    margin: 0 auto;
    width: 77%;
    text-align: center;
    font-size: 22px;
    color: #8987A1;

}

/* layout section starts */


.layout-section {
    margin: 0 auto;
    display: grid;
    gap: 20px;
    justify-content: center;
    grid-template-areas:
        "bloom   zabo   zabo"
        "ant     zabo   zabo"
    ;
    gap: 28px;
}

.bloom-plant {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    background-image: url(./assets/deal-bloom.png);
    background-repeat: no-repeat;
    grid-area: bloom;
    width: 367px;
    height: 201px;

}

.ant-plant {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    background-image: url(./assets/deal-ana.png);
    background-repeat: no-repeat;
    grid-area: ant;
    width: 367px;
    height: 201px;
}

.zabo-plant {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    background-image: url(./assets/deal-zabo.png);
    background-repeat: no-repeat;
    grid-area: zabo;
    width: 753px;
    height: 424px;
}

.layout-text {

    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
}

.layout-text-1 {
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
}

.layout-button {
    font-weight: 600px;
    color: #FFFFFF;
    border: none;
    background-color: none;
    text-decoration: underline;
}

/* join section starts */

.join-subcontainer {
    width: 75%;
    display: flex;
    justify-content: center;
    gap: 0px;
}

.join-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/news-letter-bg.png);
    width: 100%;
    height: 535px;
    margin-top: 110px;

}

.join-container h3 {
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;
}

.join-subcontainer input {
    width: 50%;
    height: 50px;
    color: #8987A1;
    padding-left: 25px;
}

.join-subcontainer button {
    width: 20%;
    height: 50px;
    font-weight: 600px;
    color: #FFFFFF;
    background-color: #E95A08;
    padding: 19px 54px;
    border: none;
}

/* footer section starts */
.footer-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 360px 85px 130px 216px;
    justify-content: space-between;
    padding: 50px 160px;
    margin-top: 5px;
    border: 2px solid blueviolet;
}

.footer-tittle img {
    width: 135px;
    height: 82px;
}

.footer-tittle p {
    font-size: 22px;
    color: #6B7280;
}

.footer-home a,
.footer-features a {
    text-decoration: none;
    line-height: 24px;
    color: #6B7280;
}

.footer-icon img {
    width: 36px;
    height: 36px;
}

.footer-tittle {
    width: 359px;
    height: 180px;
}

.footer-home,
.footer-features {
    display: flex;
    flex-direction: column;
    gap: 32px;
}





/* @media queary starts */

@media screen and (max-width: 412px) {
    .hide-1 {
        display: inline;
    }

    .hide-2 {
        display: none;
    }

    .banner-container {
        flex-direction: column-reverse;
        margin-bottom: 65px;
        margin-top: 28px;
    }

    .banner-subcontainer {
        width: 100%;
        margin-top: 18px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .banner-tittle,
    .banner-span,
    .banner-orange {
        font-size: 24px;
    }

    .banner-subcontainer p {
        font-size: 14px;
        margin-top: 13px;
    }

    /* main section starts */
    .our-plan-container {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 14px;
        padding-right: 17px;
        margin-bottom: 40px;
    }

    .plan-text {
        max-width: 100%;
    }

    /* chalange section */
    .lover-container {
        flex-direction: column;
    }

    .lover-section {
        flex-direction: column;
        gap: 20px;
        max-width: 100%;
        margin: 18px auto;
    }

    .hide-5 {
        display: none;
    }

    .deals-head {
        max-width: 100%;
    }

    .lover-some h3,
    .deals-tittle,
    .deals-tittle span {
        font-size: 24px;
    }

    .lover-subcontainer li,
    .deals-text {
        font-size: 14px;

    }

    .deals-text {
        margin-top: 16px;
        width: 85%;
    }

    /* 
    .layout-section {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
    }

    .layout-section {
        grid-template-areas:
            "bloom"
            "ant"
            "zabo"
        ;
        gap: 40px;
    }

    .bloom-plant {
        width: 200%;
        height: 200%;
    }

    .ant-plant {
        width: 200%;
        height: 100%;
    }

    .zabo-plant {
        width: 200%;
        height: 300%;
    }

    .layout-text {

        font-size: 15px;
    }

    .layout-text-1 {
        font-size: 20px;
    } */


    /* join section starts */

    .join-container h3 {
        font-size: 20px;
        font-weight: bold;
    }

    .join-container {
        height: 275px;

    }

    .join-containe input {
        width: 150%;
    }

    .join-container button {
        padding: 19px 20px;
        width: 40%;
    }

    /* footer section starts */
    .footer-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;
        padding: 50px 15px;
    }

}