@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    /* font-weight: auto; */
    font-style: normal;
}

.noto-serif-fornt {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    /* font-weight: auto; */
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1440px;
    background-color: #F5F8FF;
    margin: 0 auto;
}

/* disply none section */
.hide-1 {
    display: none;
}



/* Navigation bar starts -1 */
.nav-small-device {
    margin: 16px;
}

.nav-1-subcontainer {
    padding: 25px 23px 18px;
}

.nav-container-1 p {
    padding: 18px 50px 14px;
}


.nav-container-1 {
    max-width: 100%;
    font-size: 22px;
    color: #000000;
    height: 54px;
    display: flex;
    justify-content: space-between;

}

/* navigation bar starts-2 */

.nav-container-2 {

    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 13px 16px 18px;

}

.nav-container-2 img {
    width: 63px;
    height: 38px;
}

.nav-container-2 a {
    text-decoration: none;
}




/* Navigation bar starts */
.nav-container {
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

}

.nav-subcontainer {
    display: flex;
    gap: 48px;
}

.nav-container img {
    width: 135px;
    height: 82px;
}

.nav-subcontainer a {
    text-decoration: none;
}

.nav-black {
    color: #252432;
    font-weight: bold;
    line-height: 24px 0px;
}

.nav-white {
    color: #8987A1;
    line-height: 24px 0px;
}

.nav-card {
    color: rgba(0, 0, 0, 1);
    line-height: 24px 0px;
}

/* banner section starts */
.banner-container {
    display: flex;
    max-width: 1140px;
    width: 100%;
    height: auto;
    justify-content: center;
    margin: 120px auto;
    align-items: end;

}

.banner-container img {
    width: 100%;
    height: 100%;
    display: block;
}

.banner-subcontainer {
    width: 50%;

}

.banner-tittle {
    font-size: 65px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 0px;
}

.banner-span,
.banner-orange {
    font-size: 65px;
    font-weight: bold;
    color: #E95A08;
    margin-top: 0px;
    margin-bottom: 13px;
}

.banner-subcontainer p {

    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 13px;
    margin-bottom: 0px;

}




/* @media queary starts */

@media screen and (max-width: 412px) {
    .hide-1 {
        display: inline;
    }

    .hide-2 {
        display: none;
    }

    .banner-container {
        flex-direction: column-reverse;
        margin-bottom: 65px;
        margin-top: 28px;
    }

    .banner-subcontainer {
        width: 100%;
        margin-top: 18px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .banner-tittle,
    .banner-span,
    .banner-orange {
        font-size: 24px;
    }

    .banner-subcontainer p {
        font-size: 14px;
        margin-top: 13px;
    }
}